#!/usr/bin/env bash
until yum -y install openswan
do
  echo "Unable to install openswan using Yum.  Sleeping for 10 seconds and retrying"
  sleep 10
done
sed -i 's,^#\(include \/etc\/ipsec\.d\/\*\.conf\),\1,g' /etc/ipsec.conf
sed -i 's/net.ipv4.ip_forward = 0/net.ipv4.ip_forward = 1/' /etc/sysctl.conf
_VPC_CONFIG_
service network restart
chkconfig ipsec on
service ipsec start

